*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow: hidden;
}
.set{
    background: -moz-linear-gradient(180deg, rgba(15,10,77,1) 0%, rgba(77,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-linear-gradient(180deg, rgba(15,10,77,1) 0%, rgba(77,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(15,10,77,1) 0%, rgba(77,0,0,1) 100%); /* opera 11.10+ */;
}
.container{
    width: 1470px;
    margin: auto;
    height: 996px
}
.welcome{
    margin: 25px 0 45px 15px;
    font-size: 24px;
    color: #fff;
    justify-content: space-around;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
input[type='text'], input[type='password']{
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 6px;
    padding-left: 10px;
    border: none;
}
.icons img{
    width: 40px;
}
.icons li{
    margin: 0 10px 40px 0;
}
.icons li:first-child{
    margin: 10px 10px 50px 0;
}
.icons li:nth-child(2n){
    margin-bottom: 45px
}
.dws-input{
    padding-top: 15px;

}
.icons, .dws-input{
    display: inline-block;
    vertical-align: middle;
}
.dws-input p{
    padding: 20px 0 20px 0;
}
.dws-submit{
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 17px;
    color: #fff;
    background-color: #36041d;
    border: 1px solid #36041d;
    cursor: pointer;
    border-radius: 6px;
    min-width: 135px;
    margin-top: 20px;
    color: #757575;

}
.dws-submit:hover{
    background-color: #100a4c;
    transition-duration: 0.3s;
    color: #fff
}
#error, #errorPass, #errorRePass{
    color: #ac254e;
    font-size: 18px;
    margin: 0
}
#smallGear1{
    transition-duration: 3.0s;
    border-radius: 100%;
    animation: spin 2s linear infinite;
    fill: white 
}
#bigGear2{
    transition-duration: 3.7s;
    border-radius: 100%;
    animation: reSpin 2s linear infinite;
    fill: white 
}
#smallGear1{
    position: relative;
    left: 15px;
}
@keyframes spin {

    form {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(90deg);
    }
}
@keyframes reSpin {

    form {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-90deg);
    }
}
#gear2{
    width: 200px;
}
.cssload-container {
	width: 100%;
	height: 49px;
	text-align: center;
}

.cssload-double-torus {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 4px double;
	border-radius: 50%;
	border-color: transparent rgba(0,0,0,0.9) rgba(0,0,0,0.9);
	animation: cssload-spin 1500ms infinite linear;
    -o-animation: cssload-spin 1500ms infinite linear;
    -ms-animation: cssload-spin 1500ms infinite linear;
    -webkit-animation: cssload-spin 1500ms infinite linear;
    -moz-animation: cssload-spin 1500ms infinite linear;
}